.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full screen */
    text-align: center;
    font-family: Arial, sans-serif;
  }  
  
  h1 {
    margin-bottom: 20px;
    font-size: 80px; /* You can adjust this to 40px, 48px etc. */
    font-weight: bold;
    color: #333;
  }
  
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  